  
@import 'vars.sass'

.ad
  display: inline-block
  border: $border_white
  // background: gray

.ad_large_rectangle,
.ad-large-rectangle
  width: 336px
  height: 280px
  @extend .ad

.ad_skyscraper,
.ad-skyscraper
  width: 160px
  height: 600px
  @extend .ad

.ad-leaderboard,
.ad_leaderboard
  width: 728px
  height: 90px
  @extend .ad

.ad-wide-skyscraper
  @extend .ad
  width: 160px
  height: 600px

.ad-medium-rectangle
  @extend .ad
  width: 300px
  height: 250px

.links-vertical-large
  @extend .ad
  width: 200px
  height: 90px


.wide-line
  @extend .ad
  width: 728px
  height: 15px

.ad-half-banner
  @extend .ad
  width: 234px
  height: 60px