
@import 'vars.sass'

.rate-this > h3
  float: left
  margin-right: $small
  height: 40px
  line-height: 40px
  background: white
  padding: 0 10px 0 10px
  border-left: 5px solid gray

.star
  float: left
  border: 1px solid red
  padding: 5px
  margin-right: 10px
  height: 28px

#rate_this_314 input[type="submit"] 
  height: 40px
  float: left

