



.clear
  clear: both
  float: none !important
.hide
  display: none
.show
  display: block
.inline,
.inline *,
  display: inline
.absolute
  position: absolute
.relative
  position: relative
#loading
  display: none

.alert
  border: 1px solid black
  background: #fffd7c
  padding: .5em 1em

.notice,
.message,
  border: 1px solid black
  background: #bceaf6
  padding: .5em 1em
