



.clear
  clear: both
  float: none !important
.hide
  display: none
.show
  display: block
.inline,
.inline *,
  display: inline
.absolute
  position: absolute
.relative
  position: relative
#loading
  display: none

.alert
  border: 1px solid black
  background: #fffd7c
  padding: .5em 1em

.notice,
.message,
  border: 1px solid black
  background: #bceaf6
  padding: .5em 1em

h1.t,
h2.t,
h3.t
  text-align: center

hr
  background: none repeat scroll 0 0 #B3B3B3
  border: medium none
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075)
  clear: both
  color: #B3B3B3
  display: block
  height: 1px
  margin: 0
  padding: 0
  width: 100%