

@import 'vars'

// application

#tags_show .reports .items
  @extend ._reports_list

#reports_homepage,
#cities_show

  #cities_map,
  #videos_features,
  #galleries_features,
    @extend ._features

  #galleries_features
    @extend ._galleries_small

  #reports__features
    @extend ._reports_list

  #tags__features
    margin-top: $medium

    > h3
      text-align: center
      margin-bottom: $small


#reports_search
  @extend ._reports_list_small

#reports_show

  h1#title
    margin: $large auto
    text-align: center

  .subhead,
  .report-image,
  .related,
    width: 400px

  #column_one,
  #column_two,
    float: left
    @extend .span-12
    @extend .column

  #column_two
    @extend .last


  .tags
    margin-bottom: $medium

    .item
      border: $border
      padding: $small
      @extend .column

  

  .related
    @extend ._reports_list

    .related-reports
      margin-top: $medium

      > h3
        text-align: center
      h4
        margin-bottom: $small

      .item
        float: right 
        clear: right
        width: 400px






#reports_homepage
  position: relative

  #reports__features
    @extend ._index

    .feature-main
      margin: $large 0

      h2, h3
        margin-bottom: 0

    h2.section
      display: none

  #events_features,
    display: none


#reports_show

  .report-image,
  .related,
    float: right
    clear: right
    margin: 0 0 $small $small

#reports_index,
#reports_search

  .items
    clear: both

  #reports__search
    padding: $medium
    border: $border
    margin: $large 0
    float: right

  