
@import 'vars.sass'


#layout_roxie,
#layout_roxie_dashboard,

  .container
    padding-top: $small

  #header_main
    position: relative
    margin: 0
    padding: 0

    h1
      margin: 0 auto
      font-size: 1em
      display: none

      a
        color: black
        font-weight: bold

    #set_locale,
      display: none

    ul#menu_main
      height: $logo
      @extend ._menu_main
      float: left

      .home
        display: none

      li.trash
        line-height: $logo
        height: $logo
        margin-right: $medium

        a
          font-size: 1.2em
          padding: $medium        
          // background: white
          border: $border_white

    ul#login_register
      @extend ._menu
      float: right

    .logo
      float: left

  .header-ad
    clear: both
    text-align: center
    margin: auto


  #footer_main
    margin-top: $large
    padding-top: $large
    clear: left
    padding-bottom: $large*3

    section
      padding-top: $large
      clear: both

    .footer-menu
      @extend .span-8
      @extend ._menu

      li
        margin: $medium

    .footer-menu,
    .cities,
      a
        background: url('/assets/backgrounds/gray-1.jpg')
        padding: $small

    .shtick
      @extend .span-6

    .copyright
      @extend .span-10
      @extend .last

      .logo
        @extend ._float_left

    .cities
      @extend .span-24

      margin: 0 auto
      text-align: center

      ul
        @extend ._menu_flat

        li
          padding: $medium

    .footer-data
      display: none



#layout_roxie

  #header_main

    h1
      text-align: center
      position: absolute
      left: 50%

#layout_roxie_dashboard

  #header_main

    h1,
    .logo,
      @extend ._float_left
      height: 20px
      line-height: 20px



// stolen from fogcreek.com
body
  font: 16px/20px ff-tisa-web-pro-1,ff-tisa-web-pro-2,Georgia,"Times New Roman",serif
  font-size: 100%

._menu_main_trash
  bottom: 25px
  float: right
  position: absolute
  right: 0

._menu_main

  li
    display: block
    float: left

  a 
    border: 1px solid transparent
    border-radius: 4px 4px 4px 4px
    color: #333333
    display: block
    font-family: myriad-pro-condensed-1,myriad-pro-condensed-2,'Helvetica Neue',Arial,'Lucida Grande',sans-serif
    font-size: 20px
    margin-left: 10px
    padding: 5px 10px
    text-decoration: none

  a:hover
    background: url("/assets/gradient.png") repeat-x scroll left bottom #D1E1E6
    border: 1px solid #99821F !important
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset

  // trash
  li.header-nav-highlight
    a
      background: url("/assetsx/gradient.png") repeat-x scroll left bottom #DDCD6F
      border: 1px solid #B3B3B3 !important
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset

    a:hover
      background-color: #F2DE7C

.tags li.tags,
.reports li.reports,
.cities li.cities,
.galleries li.galleries,
.users li.users,
  a,
  a:hover,
    background: url("/assets/gradient.png") repeat-x scroll left bottom #D1E1E6
    border: 1px solid #99821F !important
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)

hr 
  background: #B3B3B3 !important
  border: medium none
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075)
  clear: both
  color: #B3B3B3
  display: block
  height: 1px
  margin: 0
  padding: 0
  width: 100%


// stolen from youtube.com
.yt-horizontal-rule
  border-bottom: 1px solid #FFFFFF
  border-top: 1px solid #DDDDDD
  height: 0
  margin: 0
  position: relative
  z-index: -99

  .first
    background: -moz-radial-gradient(right bottom , circle , rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%) repeat scroll 0 0 transparent
    left: 0
    width: 80px

  span
    border: medium none
    display: block
    height: 80px
    margin: 0
    padding: 0
    position: absolute
    top: -80px
    z-index: -100

  .second
    background: -moz-radial-gradient(left bottom , circle , rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%) repeat scroll 0 0 transparent
    right: 0
    width: 80px

  .third 
    background: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%) repeat scroll 0 0 transparent
    margin-left: 80px
    margin-right: 80px
    position: relative
    top: -80px