
@import '../common/vars.sass'
@import 'grid'




._dark_bg
  background: url('/assets/backgrounds/bg_texture_dark.jpg')

._feature_massive
  padding-top: $large * 2

._feature_title

  .title
    margin-bottom: $medium
    padding: $small
    background: white
    border-left: 5px solid gray

    h1,
    h3,
      float: left

    > a,
    form,
      float: right


  .title,
  .title > *,
    height: 40px
    line-height: 40px

._reports_list
  .item,
  .ad-rect
    margin-top: $large

  h2
    margin: 0

  .thumb
    @extend ._float_left

._list
  clear: both


._list_four
  @extend ._list

  .item
    @extend .span-6

  .item:nth-child(4n)
    @extend .last


._list_two
  @extend ._list

  .item
    @extend .span-12

  .item:nth-child(2n)
    @extend .last

._list_half_four
  @extend ._list

  .item
    @extend .span-3

  .item:nth-child(4n)
    @extend .last


._list_eight
  @extend ._list

  .item
    @extend .span-3

  .item:nth-child(8n)
    @extend .last


