
@import '../common/vars.sass'
@import 'grid'

$border_white: 1px solid white

._undecorated
  text-decoration: none

  a
    text-decoration: none

._dark_bg
  background: url('/assets/backgrounds/bg_texture_dark.jpg')

._menu_simple
  a
    @extend ._undecorated



._feature_massive
  padding-top: $large * 2

._feature_title
  @extend ._menu_simple

  .title
    margin-bottom: $medium
    padding: $small
    background: white
    border-left: 5px solid gray

    h1
      float: left

    > a
      float: right

  .title,
  h1,
  > a,
    
    height: 40px
    line-height: 40px


._list
  clear: both


._list_four
  @extend ._list

  .item
    @extend .span-6

  .item:nth-child(4n)
    @extend .last


._list_half_four
  @extend ._list

  .item
    @extend .span-3

  .item:nth-child(4n)
    @extend .last


._list_eight
  @extend ._list

  .item
    @extend .span-3

  .item:nth-child(8n)
    @extend .last


